KokoTalk/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51155/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51155/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51155/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFKokoTalks" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="KokoService_GetPost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPost" />
  </wsdl:message>
  <wsdl:message name="KokoService_GetPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostResponse" />
  </wsdl:message>
  <wsdl:message name="KokoService_PushPost_InputMessage">
    <wsdl:part name="parameters" element="tns:PushPost" />
  </wsdl:message>
  <wsdl:message name="KokoService_PushPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushPostResponse" />
  </wsdl:message>
  <wsdl:portType name="KokoService">
    <wsdl:operation name="GetPost">
      <wsdl:input wsaw:Action="http://tempuri.org/KokoService/GetPost" message="tns:KokoService_GetPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/KokoService/GetPostResponse" message="tns:KokoService_GetPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushPost">
      <wsdl:input wsaw:Action="http://tempuri.org/KokoService/PushPost" message="tns:KokoService_PushPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/KokoService/PushPostResponse" message="tns:KokoService_PushPost_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_KokoService" type="tns:KokoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPost">
      <soap:operation soapAction="http://tempuri.org/KokoService/GetPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushPost">
      <soap:operation soapAction="http://tempuri.org/KokoService/PushPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_KokoService" binding="tns:BasicHttpBinding_KokoService">
      <soap:address location="http://localhost:51155/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>